@model IEnumerable<Technician>
@{
    ViewBag.Title = "View Technicians";
}

<h2 class="display-4">Technician Manager</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technician tech in Model)
        {
        <tr>
            <td>@tech.TechName</td>
            <td>@tech.TechEmail</td>
            <td>@tech.TechPhone</td>
            <td><button asp-controller="Technician" asp-action="Edit" asp-route-id="@tech.TechId">Edit</button></td>
            <td><button asp-controller="Technician" asp-action="Delete" asp-route-id="@tech.TechId">Delete</button></td>
        </tr>
        }
        
    </tbody>
</table>

<a asp-controller="Technician" asp-action="Add">Add Technician</a>