@model IEnumerable<Product>
@{
    ViewBag.Title = "View Product";
}
<h2 class="display-4">Product Manager</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
        <tr>
            <td>@product.Code</td>
            <td>@product.ProductName</td>
            <td>@product.Price.ToString("c2")</td>
            <td>@product.DateReleased.ToString("MM/dd/yyyy")</td>
            <td><a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a></td>
            <td><a class="btn btn-primary" asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add Product</a>
